<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose your aim</title>
</head>
<header>
  <div><h1>Sports App</h1>
    <img class="inline" src="/pictures/logo.jpeg" alt="logo" height="90px" width="auto"/>
      <link href="/styles/main.css" rel="stylesheet">
      <nav class="main-menu">
          <div class="inline"><a href="/">Home</a></div>

          <div class="inline"><a href="/myProfile">My profile</a></div>
      </nav>

    <h2>Choose your aim for today</h2>
  </div>
</header>
<body>
<nav>

    <div class="inline"><a href="/looseWeight">Loose weight</a></div><br>
    <div class="inline"><a href="/bodybuilding">Bodybuilding</a></div><br>
    <div class="inline"><a href="/stretching">Stretching</a></div><br>
    <div class="inline"><a href="/Individual">Create your own</a></div><br>
</nav>

</body>
</html>