<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loose weight</title>
</head>
<header>
    <div><h1>Sports App</h1>
        <img class="inline" src="/pictures/logo.jpeg" alt="logo" height="90px" width="auto"/>
        <link href="/styles/main.css" rel="stylesheet">



    </div>
    <nav class="main-menu">
        <div class="inline"><a href="/">Home</a></div>

        <div class="inline"><a href="/myProfile">My profile</a></div>
        <div class="inline"><a href="/aim">Change your aim</a></div>
    </nav>
    <h2>Choose your physical level</h2>


</header>
<body>

<div class="inline"><a href="/lwBeginner">Beginner</a></div><br>
<div class="inline"><a href="/lwMedium">Medium</a></div><br>
<div class="inline"><a href="/lwPro">Pro</a></div><br>
</body>
</html>