<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loose weight pro</title>
</head>
<header>
    <div><h1>Sports App</h1>
        <img class="inline" src="/pictures/logo.jpeg" alt="logo" height="90px" width="auto"/>
        <nav class="main-menu">
            <div class="inline"><a href="/">Home</a></div>

            <div class="inline"><a href="/myProfile">My profile</a></div>
            <div class="inline"><a href="/aim">Change your aim</a></div>
        </nav>
        <link href="/styles/main.css" rel="stylesheet">


    </div>
</header>
<body>
<div><h3>Your exercises for today. Move one by one, repeat each round 7 times.</h3></div>
<div><h4>Squats 35 </h4>
    <img class="inline" src="/pictures/squats.jpeg" alt="squat" height="250px" width="auto"/>

</div>
<div><h4>Donkey kicks 35 for each leg </h4>
    <img class="inline" src="/pictures/donkeyKick.jpeg" alt="squat" height="250px" width="auto"/>

</div>
<div><h4>Knee push-ups 35 </h4>
    <img class="inline" src="/pictures/knee_pushup.jpeg" alt="squat" height="250px" width="auto"/>

</div>
<div><h4>Knee to elbow kickbacks 35 </h4>
    <img class="inline" src="/pictures/knee_to_elbow.jpeg" alt="squat" height="250px" width="auto"/>

</div>

</body>
</html>