<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stretching pro lvl</title>
</head>
<header>
    <div><h1>Sports App</h1>
        <img class="inline" src="/pictures/logo.jpeg" alt="logo" height="90px" width="auto"/>
    </div>
    <nav class="main-menu">
        <div class="inline"><a href="/">Home</a></div>

        <div class="inline"><a href="/myProfile">My profile</a></div>
        <div class="inline"><a href="/aim">Change your aim</a></div>
    </nav>
    <link href="/styles/main.css" rel="stylesheet">

</header>
<body>
<div><h3>Your exercises for today. Move one by one, repeat each round 7 times.</h3></div>
<div><h4>Standing forward bending 90 sec to every toe </h4>
    <img class="inline" src="/pictures/hamstringSt.jpeg" alt="squat" height="250px" width="auto"/>
</div>

<div><h4> Sleeping swan pose 90 sec fot each leg </h4>
    <img class="inline" src="/pictures/sleepingSwan.jpeg" alt="squat" height="250px" width="auto"/>
</div>
<div><h4>Revolved head to knee, hold 90 sec</h4>
    <img class="inline" src="/pictures/headToKnee.jpeg" alt="squat" height="250px" width="auto"/>
</div>
<div><h4> Bend forward , legs wide, hold 90 sec </h4>
    <img class="inline" src="/pictures/bendForward.jpeg" alt="squat" height="250px" width="auto"/>
</div>

</body>
</html>